################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Slack/v15/sqlite3/storage.ide-wal
