@model Slack.Models.WorkspaceViewModels.ChannelViewModel
<div >
    <h4>
        Channel: @Model.Name
        <br />
        Users: @Model.ChannelMemberships.Count
        <br />
    <span style="text-decoration: underline; " onclick="showInviteUserToChannelOverlay()">Invite others to this channel</span>

    @Html.Partial("InviteUserToChannel.cshtml", Model.ChannelInviteViewModel)
    </h4>
</div>
