<div class="chatContainer">
    <div class="chatMessages"></div>
    <div class="classBottom">
        <form action="#" onsubmit="return false;" id="chat">
            <input type="hidden" id="name" />
            <input type="text" id="message_text" value='' placeholder="Message: #msg" />
            <input type="submit" name="message_submit" value="Post" />
        </form>
    </div>
</div>
