@model Slack.Models.WorkspaceViewModels.ChannelViewModel
@inject UserManager<ApplicationUser> UserManager
<div class="chatContainer" id="chatMain">
    <div class="chatMessages" id="message-list">
        <h1></h1>
        @foreach (var group in Model.Messages.GroupBy(item => item.SendDate.Date))
        {
            <div align="center" style="font-weight:bold; align-items: center">
                <p>
                    @Html.Raw(group.Key.Date.ToShortDateString() + "")
                </p>
            </div>
            var tempUser = "";
            @foreach (var item in group)
            {
                
                if (tempUser != item.ApplicationUser.UserName)
                {
                    <div>
                        <span style="font-weight: bold;">@Html.Raw(item.ApplicationUser.UserName) </span>
                        @Html.Raw( " " + item.SendDate.ToShortTimeString() + ": ")
                        <br />
                    </div>
                    
                       
                }

                tempUser = item.ApplicationUser.UserName;



                @Html.Raw(item.MessageText)
               <br />
            }
            <br />
        }
    </div>
    <div class="classBottom">
        <input type="text" id="msgText" placeholder="Message:"/>
        <input type="text" id="msgAuthor" value=@UserManager.GetUserName(User) hidden />
        <input type="text" id="msgChannel" value=@Model.ID.ToString() hidden />
        <button id="send_button" type="submit" onclick="sendMessage()">send</button>
    </div>
</div>
<script>
    var connection;
    window.addEventListener("load", function () {
        connection = new signalR.HubConnection('/chat');

        connection.on('Send', data => {
            $("#message-list").append(data);
            $("#message-list").append("<br/>");
        });

        connection.start()
            .then(() => {
                msgChannel = $("#msgChannel").val();
                connection.invoke('JoinGroup', msgChannel);
            });

    });

    function sendMessage() {
        msg = $("#msgText").val();
        msgAuthor = $("#msgAuthor").val();
        msgChannel = $("#msgChannel").val();
        connection.invoke('Send', msg, msgAuthor, msgChannel);
        $("#msgText").val("");
    }

    document.getElementById('chatMain').onkeypress = function (e) {
        if (e.keyCode == 13) {
            document.getElementById('send_button').click();
        }
    }

</script>